<app-card titleText="Chassis">
    <form class="form-horizontal" [formGroup]="chassisForm">
        <div class="row mb-2">
            <label class="col-sm-4 col-form-label fw-bold text-sm-end" for="chassis">Chassis</label>
            <div class="col">
                <select class="form-select bg-secondary-subtle" id="chassis" formControlName="chassis">
                    <option [ngValue]="0" disabled hidden>Select a chassis</option>
                    <ng-container *ngFor="let tl of techLevels">
                        <optgroup label="Tech Level {{ tl }}" *ngIf="chassisListByTechLevel[tl] && chassisListByTechLevel[tl].length > 0">
                            <option *ngFor="let chas of chassisListByTechLevel[tl]" [ngValue]="chas.id">{{ chas.name }}</option>
                        </optgroup>
                    </ng-container>
                </select>
            </div>
        </div>

        <app-mech-pattern></app-mech-pattern>
    </form>

    <hr>

    <ng-container *ngIf="chassis">
        <div class="collapse show" id="baseStats">
            <dl class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">Structure Pts.</dt>
                        <dd class="col"><i class="bi bi-shield-fill"></i> {{ chassis.structure_pts }}</dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">Energy Pts.</dt>
                        <dd class="col"><i class="bi bi-battery-full"></i> {{ chassis.energy_pts }}</dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">Heat Cap.</dt>
                        <dd class="col"><i class="bi bi-thermometer"></i> {{ chassis.heat_cap }}</dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">Cargo Cap.</dt>
                        <dd class="col"><i class="bi bi-boxes"></i> {{ chassis.cargo_cap }}</dd>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">System Slots</dt>
                        <dd class="col"><i class="bi bi-triangle-fill"></i> {{ chassis.system_slots }}</dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">Module Slots</dt>
                        <dd class="col"><i class="bi bi-triangle-fill"></i> {{ chassis.module_slots }}</dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">Tech Level</dt>
                        <dd class="col"><i class="bi bi-square-fill"></i> {{ chassis.tech_level }}</dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-8 text-sm-end">Salvage Value</dt>
                        <dd class="col"><i class="bi bi-gear-fill"></i> {{ chassis.salvage_value }}</dd>
                    </div>
                </div>

            </dl>
        </div>

        <ng-container *ngIf="chassis.hasOwnProperty('abilities')">
            <hr class="hr">

            <dl>
                <ng-container *ngFor="let ability of chassis.abilities">
                    <dt class="mb-2">{{ ability.name }}</dt>

                    <dd class="mb-2" *ngIf="ability.description">
                        <p class="text-justify" *ngFor="let paragraph of ability.description">{{ paragraph }}</p>
                    </dd>

                    <dd *ngIf="ability.roll_the_die">
                        <app-roll-the-die [rollResults]="ability.roll_the_die"></app-roll-the-die>
                    </dd>

                    <dd *ngIf="ability.actions">
                        <app-action-list [actions]="ability.actions"></app-action-list>
                    </dd>
                </ng-container>
            </dl>
        </ng-container>
    </ng-container>
</app-card>