<div class="row mb-2">
    <label class="col-sm-4 fw-bold text-sm-end mt-1" for="pattern">Pattern</label>
    <div class="col">
        <div class="text-secondary float-start mt-1 me-2">{{ currentPattern?.name || "None selected" }}</div>

        <button
            class="btn btn-sm btn-outline-secondary bg-secondary-subtle float-end"
            data-bs-toggle="modal"
            data-bs-target="#savedPatternsModal">
            Manage Patterns
        </button>
    </div>
</div>

<div class="modal fade" id="savedPatternsModal" tabindex="-1" aria-labelledby="savedPatternsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-4" id="savedPatternsModalLabel">Patterns</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" *ngIf="patterns.length === 0">
                        <div class="col">
                            <span class="text-secondary">No saved patterns</span>
                        </div>
                    </div>

                    <ng-container *ngFor="let pattern of patterns; let i=index; let last=last">
                        <div class="row">
                            <div class="col-5 d-flex align-items-center">
                                <button
                                    type="button"
                                    class="btn btn-dark me-1"
                                    (click)="togglePattern(i)">

                                    <i class="bi"
                                        [ngClass]="{
                                            'bi-check-circle': patternIndex === i,
                                            'bi-circle': patternIndex !== i
                                        }"></i>
                                </button>

                                <app-icon class="me-2" type="salvage" [value]="getScrapCost(pattern)"></app-icon>

                                <span class="fw-bold">{{ pattern.name }}</span>
                            </div>

                            <div class="col d-flex justify-content-between align-items-center">
                                <span class="text-secondary">
                                    <span>{{ patternChassis[i]?.name || "No chassis"}}</span>
                                </span>

                                <span>
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-success bg-success-subtle me-2"
                                        (click)="applyPattern(i)">
                                        <i class="bi bi-tools"></i>
                                    </button>

                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-danger bg-danger-subtle"
                                        (click)="deletePattern(i)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="row" *ngIf="patternIndex === i">
                            <div class="col offset-2">
                                <h5 class="h5">Systems</h5>
                                <div class="text-secondary" *ngIf="systems.length === 0">None</div>
                                <div class="text-secondary" *ngFor="let sys of systems; let isLast=last">{{ sys.name }}</div>
                            </div>

                            <div class="col">
                                <h5 class="h5">Modules</h5>
                                <div class="text-secondary" *ngIf="modules.length === 0">None</div>
                                <div class="text-secondary" *ngFor="let mod of modules; let isLast=last">{{ mod.name }}</div>
                            </div>
                        </div>

                        <hr class="hr" *ngIf="!last">
                    </ng-container>


                </div>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <form class="form-horizontal" [formGroup]="patternForm" (ngSubmit)="newPattern()">
                                <div class="row">
                                    <div class="col-5 d-flex justify-content-between align-items-center">
                                        <div class="input-group">
                                            <button
                                                type="button"
                                                class="btn btn-outline-secondary bg-secondary-subtle"
                                                (click)="selectPattern(null)">

                                                <i class="bi"
                                                    [ngClass]="{
                                                        'bi-circle': patternIndex !== null,
                                                        'bi-check-circle': patternIndex === null
                                                    }"></i>
                                            </button>

                                            <div class="form-floating">
                                                <input id="pattern_name" type="text" class="form-control bg-secondary-subtle" placeholder="Name" formControlName="name">
                                                <label for="pattern_name">New Pattern</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col d-flex justify-content-between align-items-center">
                                        <span class="text-secondary">
                                            {{ currentChassis?.name || "No chassis" }}
                                        </span>

                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-primary bg-primary-subtle"
                                            (click)="newPattern()"
                                            [disabled]="!patternForm.valid">
                                            <i class="bi bi-floppy-fill"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="patternIndex === null">
                        <div class="col offset-2">
                            <h5 class="h5">Systems</h5>
                            <div class="text-secondary" *ngIf="currentSystems.length === 0">None</div>
                            <div class="text-secondary" *ngFor="let sys of currentSystems; let isLast=last">{{ sys.name }}</div>
                        </div>

                        <div class="col">
                            <h5 class="h5">Modules</h5>
                            <div class="text-secondary" *ngIf="currentModules.length === 0">None</div>
                            <div class="text-secondary" *ngFor="let mod of currentModules; let isLast=last">{{ mod.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
