<div class="row mb-2">
    <label class="col-sm-4 fw-bold text-sm-end mt-1" for="pattern">Pattern</label>
    <div class="col">
        <div class="text-secondary float-start mt-1 me-2">{{ currentPattern?.name || "None selected" }}</div>

        <button
            class="btn btn-sm btn-outline-secondary bg-secondary-subtle float-end"
            data-bs-toggle="modal"
            data-bs-target="#savedPatternsModal">
            Manage Patterns
        </button>
    </div>
</div>

<div class="modal fade" id="savedPatternsModal" tabindex="-1" aria-labelledby="savedPatternsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-4" id="savedPatternsModalLabel">Patterns</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" *ngIf="patterns.length === 0">
                        <div class="col">
                            <span class="text-secondary">No saved patterns</span>
                        </div>
                    </div>

                    <div class="row" *ngFor="let pattern of patterns; let i=index; let last=last">
                        <div class="col-9">
                            <ng-container *ngIf="patternIndex === i; else inactive">
                                <button
                                    type="button"
                                    class="btn btn-dark my-auto"
                                    (click)="selectPattern(null)">
                                    <i class="bi bi-check-square me-2"></i>
                                    {{ pattern.name }}
                                    <span class="text-secondary">({{ patternChassis[i]?.name }})</span>
                                </button>
                            </ng-container>

                            <ng-template #inactive>
                                <button
                                    type="button"
                                    class="btn btn-dark my-auto"
                                    (click)="selectPattern(i)">
                                    <i class="bi bi-square me-2"></i>
                                    {{ pattern.name }}
                                    <span class="text-secondary">({{ patternChassis[i]?.name }})</span>
                                </button>
                            </ng-template>
                        </div>

                        <div class="col-3 text-end">
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-danger bg-danger-subtle ms-2"
                                (click)="deletePattern(i)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </div>

                        <hr *ngIf="!last" class="my-2">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <form class="form-horizontal" [formGroup]="patternForm" (ngSubmit)="newPattern()">

                        <div class="row mb-2">
                            <label class="col-3 col-form-label fw-bold text-end" for="name">Name</label>
                            <div class="col">
                                <input type="text" class="form-control bg-secondary-subtle" placeholder="Enter a name" formControlName="name">
                            </div>
                        </div>

                        <dl class="row">
                            <dt class="col-3 text-end">Chassis</dt>
                            <dd class="col-9 text-secondary">
                                <span *ngIf="patternIndex !== null; else currentChassisName;">{{ chassis?.name || "None" }}</span>

                                <ng-template #currentChassisName>
                                    <span>{{ currentChassis?.name || "None" }}</span>
                                </ng-template>
                            </dd>

                            <dt class="col-3 text-end">Systems</dt>
                            <dd class="col-9 text-secondary">
                                <ng-container *ngIf="patternIndex !== null; else currentSystemList;">
                                    <span *ngIf="systems.length === 0">None</span>
                                    <span *ngFor="let sys of systems; let isLast=last">{{ sys.name }}{{ isLast ? '' : ' // ' }}</span>
                                </ng-container>

                                <ng-template #currentSystemList>
                                    <span *ngIf="currentSystems.length === 0">None</span>
                                    <span *ngFor="let sys of currentSystems; let isLast=last">{{ sys.name }}{{ isLast ? '' : ' // ' }}</span>
                                </ng-template>
                            </dd>

                            <dt class="col-3 text-end">Modules</dt>
                            <dd class="col-9 text-secondary">
                                <ng-container *ngIf="patternIndex !== null; else currentModuleList;">
                                    <span *ngIf="modules.length === 0">None</span>
                                    <span *ngFor="let mod of modules; let isLast=last">{{ mod.name }}{{ isLast ? '' : ' // ' }}</span>
                                </ng-container>

                                <ng-template #currentModuleList>
                                    <span *ngIf="currentModules.length === 0">None</span>
                                    <span *ngFor="let mod of currentModules; let isLast=last">{{ mod.name }}{{ isLast ? '' : ' // ' }}</span>
                                </ng-template>
                            </dd>
                        </dl>

                        <div class="row">
                            <div class="col text-end">
                                <ng-container *ngIf="patternIndex !== null">
                                    <button
                                        type="button"
                                        class="btn btn-dark me-2"
                                        (click)="applyPattern()">
                                        <i class="bi bi-tools"></i>
                                        Load Pattern
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary bg-primary-subtle me-2"
                                        (click)="updatePattern(patternIndex)"
                                        [disabled]="!patternForm.valid">
                                        <i class="bi bi-floppy-fill"></i>
                                        Save Changes
                                    </button>
                                    <span class="me-2">|</span>
                                </ng-container>

                                <button
                                    type="button"
                                    class="btn btn-outline-success bg-success-subtle"
                                    (click)="newPattern()"
                                    [disabled]="!patternForm.valid">
                                    <i class="bi bi-stars"></i>
                                    New
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
