<div class="card mb-4">
    <div class="card-body">
        <div class="card-title h4 text-center">
            <span>{{ key | titlecase }}</span>
            <div class="float-end fw-light">
                <i class="bi bi-triangle-fill"></i> {{ usedSlots }}/{{ slots }}<span *ngIf="bonusSlots">+{{ bonusSlots }}</span>
            </div>
        </div>
    
        <hr>
    
        <ng-container *ngFor="let c of components; let i = index">
            <div class="row">
                <div class="col-5 col-md-6"><span class="align-middle">{{ c.name }}</span></div>
                <div class="col-5 col-md-4">
                    <span class="align-middle me-2"><i class="bi bi-square-fill"></i> {{ c.tech_level }}</span>
                    <span class="align-middle me-2"><i class="bi bi-triangle-fill"></i> {{ c.slots }}</span>
                    <span class="align-middle me-2"><i class="bi bi-gear-fill"></i> {{ c.salvage_value }}</span>
                </div>
                <div class="col">
                    <button class="btn btn-outline-danger btn-sm float-end" (click)="removeComponent(i)">
                        <i class="bi bi-box-arrow-down"></i>
                    </button>
                </div>
            </div>
            <hr>
        </ng-container>
    
        <button class="btn btn-outline-danger float-end" type="button" (click)="clearComponents()" *ngIf="components.length">
            <i class="bi bi-box-arrow-down"></i> Unmount All
        </button>
    
        <button class="btn btn-outline-success float-end me-2" type="button" data-bs-toggle="offcanvas" [attr.data-bs-target]="'#'+ key +'_picker'" [attr.aria-controls]="key +'_picker'" [disabled]="!slots">
            <i class="bi bi-box-arrow-in-up"></i> Mount {{ key | titlecase }}
        </button>

    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="{{ key }}_picker" [attr.aria-labelledby]="key + '_picker_label'" *ngIf="componentList">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="{{ key }}_picker_label">{{ key | titlecase }}</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
        <app-mech-component-picker
            [componentList]="componentList"
            [availableSlots]="slots + bonusSlots - usedSlots"
            (componentSelected)="addComponent($event)"
            *ngIf="slots">
        </app-mech-component-picker>
    </div>
</div>
