<div class="row">
    <div class="col-md-3 col-xl-2">
        <div class="row">
            <div class="col-6 col-md-12">
                <app-mech-status></app-mech-status>
                <app-mech-cargo></app-mech-cargo>
            </div>

            <div class="col-6 col-md-12">
                <app-mech-scrap-cost></app-mech-scrap-cost>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-xl-10">
        <div class="row">
            <div class="col-xl">
                <app-mech-chassis></app-mech-chassis>
            </div>

            <div class="col-xl">
                <app-mech-systems></app-mech-systems>
                <app-mech-modules></app-mech-modules>
            </div>
        </div>
    </div>
</div>
