<div class="row">

    <div class="col-md-9 col-xl-10">
        <div class="row">
            <div class="col-xl">
                <app-mech-chassis
                    (chassisChanged)="setChassis($event)">
                </app-mech-chassis>
            </div>

            <div class="col-xl">
                <app-mech-component-list
                    [key]="'systems'"
                    [slots]="chassis?.system_slots || 0"
                    [bonusSlots]="bonusSystemSlots"
                    [componentList]="systemListByTechLevel"
                    (componentsChanged)="setSystems($event)">
                </app-mech-component-list>

                <app-mech-component-list
                    [key]="'modules'"
                    [slots]="chassis?.module_slots || 0"
                    [bonusSlots]="bonusModuleSlots"
                    [componentList]="moduleListByTechLevel"
                    (componentsChanged)="setModules($event)">
                </app-mech-component-list>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-6 col-md-12">
                <app-mech-status
                    [structure]="chassis?.structure_pts || 0"
                    [bonusStructure]="bonusStructure"
                    [energy]="chassis?.energy_pts || 0"
                    [bonusEnergy]="bonusEnergy"
                    [heat]="chassis?.heat_cap || 0"
                    [bonusHeat]="bonusHeat">
                </app-mech-status>
            </div>

            <div class="col-6 col-md-12">
                <app-mech-cargo
                    [cargo]="chassis?.cargo_cap || 0"
                    [bonusCargo]="bonusCargo">
                </app-mech-cargo>

                <app-mech-scrap-cost
                    [scrapCost]="scrapCost"
                    *ngIf="scrapCost">
                </app-mech-scrap-cost>
            </div>
        </div>
    </div>
</div>
