<app-card titleText="Systems" titleIcon="bi bi-triangle-fill" titleIconText="{{ usedSlots }}/{{ slots }}{{ bonusSlots ? '+' + bonusSlots : '' }}">
    <ng-container *ngFor="let s of systems; let i = index">
        <div class="row">
            <div class="col-5 col-md-6"><span class="align-middle">{{ s.name }}</span></div>
            <div class="col-5 col-md-4">
                <span class="align-middle me-2"><i class="bi bi-square-fill"></i> T{{ s.tech_level }}</span>
                <span class="align-middle me-2"><i class="bi bi-triangle-fill"></i> {{ s.slots }}</span>
                <span class="align-middle me-2"><i class="bi bi-gear-fill"></i> {{ s.salvage_value }}</span>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-danger bg-danger-subtle float-end" (click)="removeSystem(i)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </div>
        </div>
        <hr>
    </ng-container>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-success bg-success-subtle" data-bs-toggle="offcanvas" data-bs-target="#system_picker" aria-controls="system_picker" [disabled]="!slots">
                <i class="bi bi-tools"></i>
                Install
            </button>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-outline-danger bg-danger-subtle" (click)="resetSystems()" *ngIf="systems.length">
                <i class="bi bi-trash-fill"></i> Remove All
            </button>
        </div>
    </div>
</app-card>

<div class="offcanvas offcanvas-start" tabindex="-1" id="system_picker" aria-labelledby="system_picker_label" *ngIf="systemList">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="system_picker_label">Systems</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
        <app-mech-component-browser
            [componentList]="systemList"
            [availableSlots]="slots + bonusSlots - usedSlots"
            (componentSelected)="addSystem($event)"
            *ngIf="slots">
        </app-mech-component-browser>
    </div>
</div>
