
<form class="form-horizontal" [formGroup]="mechForm">
    <div class="row">
        <div class="col-lg">
            <div class="row mb-4">
                <div class="col">
                    <fieldset class="form-group border p-4">
                        <legend>Administrative
                            <div class="float-end">
                                <i class="bi bi-pen-fill"></i>
                            </div>
                        </legend>

                        <hr>

                        <div class="row mb-2">
                            <label class="col-4 col-form-label fw-bold" for="name">Mech Name</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="name" formControlName="name">
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-4 col-form-label fw-bold" for="pilot">Pilot Callsign</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="pilot" formControlName="pilot">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <fieldset class="form-group border p-4">
                        <legend>Mech Core
                            <div class="float-end">
                                <i class="bi bi-cpu-fill"></i>
                            </div>
                        </legend>

                        <hr>

                        <div class="row mb-2">
                            <label class="col-4 col-form-label fw-bold" for="chassis">Chassis</label>
                            <div class="col-8">
                                <select class="form-select" id="chassis" formControlName="chassis">
                                    <option [ngValue]="0" disabled hidden>Select a chassis...</option>
                                    <option *ngFor="let chas of chassisList" [ngValue]="chas.id">{{ chas.name }} (Tech Level {{ chas.tech_level }})</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2" *ngIf="chassis">
                            <label class="col-4 col-form-label fw-bold" for="pattern">Pattern</label>
                            <div class="col-8">
                                <select class="form-select" id="pattern" formControlName="pattern">
                                    <option [ngValue]="0">Custom</option>
                                    <option *ngFor="let pat of patternList" [ngValue]="pat.id">{{ pat.name }}</option>
                                </select>
                            </div>
                        </div>

                        <hr *ngIf="chassis">

                        <dl class="row" *ngIf="chassis">
                            <dt class="col-4">Structure Points</dt>
                            <dd class="col-8">{{ chassis.structure_pts }}</dd>
                            
                            <dt class="col-4">Energy Points</dt>
                            <dd class="col-8">{{ chassis.energy_pts }}</dd>
                            
                            <dt class="col-4">Heat Capacity</dt>
                            <dd class="col-8">{{ chassis.heat_cap }}</dd>
                            
                            <dt class="col-4">System Slots</dt>
                            <dd class="col-8"><i class="bi bi-triangle-fill"></i> {{ chassis.system_slots }}</dd>
                            
                            <dt class="col-4">Module Slots</dt>
                            <dd class="col-8"><i class="bi bi-triangle-fill"></i> {{ chassis.module_slots }}</dd>
                            
                            <dt class="col-4">Cargo Capacity</dt>
                            <dd class="col-8">{{ chassis.cargo_cap }}</dd>
                            
                            <dt class="col-4">Tech Level</dt>
                            <dd class="col-8"><i class="bi bi-square-fill"></i> {{ chassis.tech_level }}</dd>
                            
                            <dt class="col-4">Salvage Value</dt>
                            <dd class="col-8"><i class="bi bi-gear-fill"></i> {{ chassis.salvage_value }}</dd>
                            
                            <dt class="col-4">Chassis Ability</dt>
                            <dd class="col-8">{{ chassis.ability?.name }}</dd>
                            <dd class="col-8 offset-4">{{ chassis.ability?.description }}</dd>
                        </dl>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row mb-4">
                <div class="col">
                    <fieldset class="form-group border p-4">
                        <legend>Scrap Required
                            <div class="float-end">
                                <i class="bi bi-gear-fill"></i>
                            </div>
                        </legend>

                        <hr>
        
                        <dl class="row">
                            <div class="col text-center" *ngFor="let techLevel of techLevels">
                                <dt>TL{{ techLevel }}</dt>
                                <dd>{{ scrapCost[techLevel] }}</dd>
                            </div>
                        </dl>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <fieldset class="form-group border p-4 mb-4">
                        <legend>Systems
                            <div class="float-end">
                                <i class="bi bi-triangle-fill"></i> {{ systemSlotCount }}/{{ chassis?.system_slots || "?" }}
                            </div>
                        </legend>

                        <hr>

                        <ng-container *ngFor="let system of systemsFormArray().value; let i = index">
                            <div class="row">
                                <div class="col-6"><span class="align-middle">{{ system.name }}</span></div>
                                <div class="col-4">
                                    <span class="align-middle me-2"><i class="bi bi-square-fill"></i> {{ system.tech_level }}</span>
                                    <span class="align-middle me-2"><i class="bi bi-triangle-fill"></i> {{ system.slots }}</span>
                                    <span class="align-middle me-2"><i class="bi bi-gear-fill"></i> {{ system.salvage_value }}</span>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-outline-danger btn-sm float-end" (click)="removeSystem(i)">
                                        <i class="bi bi-box-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                            <hr>
                        </ng-container>

                        <button class="btn btn-primary float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#system_picker" aria-controls="system_picker" [disabled]="!chassis">
                            <i class="bi bi-plus"></i> Add Systems
                        </button>

                        <button class="btn btn-secondary-outline float-end me-2" type="button"  (click)="clearSystems()" [disabled]="!chassis">
                            Clear Systems
                        </button>
                    </fieldset>

                    <fieldset class="form-group border p-4">
                        <legend>Modules
                            <div class="float-end">
                                <i class="bi bi-triangle-fill"></i> {{ moduleSlotCount }}/{{ chassis?.module_slots || "?" }}
                            </div>
                        </legend>

                        <hr>

                        <ng-container *ngFor="let module of modulesFormArray().value; let i = index">
                            <div class="row">
                                <div class="col-6"><span class="align-middle">{{ module.name }}</span></div>
                                <div class="col-4">
                                    <span class="align-middle me-2"><i class="bi bi-square-fill"></i> {{ module.tech_level }}</span>
                                    <span class="align-middle me-2"><i class="bi bi-triangle-fill"></i> {{ module.slots }}</span>
                                    <span class="align-middle me-2"><i class="bi bi-gear-fill"></i> {{ module.salvage_value }}</span>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-outline-danger btn-sm float-end" (click)="removeModule(i)">
                                        <i class="bi bi-box-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                            <hr>
                        </ng-container>

                        <button class="btn btn-primary float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#module_picker" aria-controls="module_picker" [disabled]="!chassis">
                            <i class="bi bi-plus"></i> Add Modules
                        </button>

                        <button class="btn btn-secondary-outline float-end me-2" type="button"  (click)="clearModules()" [disabled]="!chassis">
                            Clear Modules
                        </button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="offcanvas offcanvas-start" tabindex="-1" id="system_picker" aria-labelledby="system_picker_label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="system_picker_label">Add Systems</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container">
        <ng-container *ngFor="let system of systemList">
            <div class="row">
                <div class="col-6"><span class="align-middle">{{ system.name }}</span></div>
                <div class="col-5">
                    <span class="align-middle me-2"><i class="bi bi-square-fill"></i> {{ system.tech_level }}</span>
                    <span class="align-middle me-2"><i class="bi bi-triangle-fill"></i> {{ system.slots }}</span>
                    <span class="align-middle me-2"><i class="bi bi-gear-fill"></i> {{ system.salvage_value }}</span>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-sm float-end" (click)="addSystem(system.id)" [disabled]="systemSlotCount + system.slots > chassis.system_slots" *ngIf="chassis">
                        <i class="bi bi-box-arrow-in-up"></i>
                    </button>
                </div>
            </div>
            <hr>
        </ng-container>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="module_picker" aria-labelledby="module_picker_label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="module_picker_label">Add Modules</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container">
        <ng-container *ngFor="let module of moduleList">
            <div class="row">
                <div class="col-6"><span class="align-middle">{{ module.name }}</span></div>
                <div class="col-5">
                    <span class="align-middle me-2"><i class="bi bi-square-fill"></i> {{ module.tech_level }}</span>
                    <span class="align-middle me-2"><i class="bi bi-triangle-fill"></i> {{ module.slots }}</span>
                    <span class="align-middle me-2"><i class="bi bi-gear-fill"></i> {{ module.salvage_value }}</span>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-sm float-end" (click)="addModule(module.id)" [disabled]="moduleSlotCount + module.slots > chassis.module_slots" *ngIf="chassis">
                        <i class="bi bi-box-arrow-in-up"></i>
                    </button>
                </div>
            </div>
            <hr>
        </ng-container>
    </div>
</div>
