/* You can add global styles to this file, and also import other style files */

.text-justify {
    text-align: justify;
}

.input-button {
    cursor: pointer;
    right: 10px;
    z-index: 100;
}

.collapse-control[aria-expanded=false] .expanded {
    display: none;
}

.collapse-control[aria-expanded=true] .collapsed {
    display: none;
}

.collapse.collapse-partial:not(.show) {
    display: block;
    height: 62px;
    overflow: hidden;
}

.collapsing.collapse-partial {
    height: 62px;
}
