/* You can add global styles to this file, and also import other style files */

.text-justify {
    text-align: justify;
}

.input-button {
    cursor: pointer;
    right: 10px;
    z-index: 100;
}

.collapse-control[aria-expanded=false] .expanded {
    display: none;
}

.collapse-control[aria-expanded=true] .collapsed {
    display: none;
}

.collapse.collapse-partial:not(.show) {
    display: block;
    overflow: hidden;
    /* height: 62px; */
    height: 85px;
    -webkit-mask-image: -webkit-gradient(linear, left top,
        left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.collapsing.collapse-partial {
    /* height: 62px; */
    height: 85px;
    -webkit-mask-image: -webkit-gradient(linear, left top,
        left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
