/* You can add global styles to this file, and also import other style files */

.text-justify {
    text-align: justify;
}

.text-toggle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
}
