<app-card titleText="Status">
    <div class="h3 fw-light text-center">
        <i class="bi bi-shield-fill"></i>
        {{ structure }}<span *ngIf="bonusStructure">+{{ bonusStructure }}</span>
    </div>

    <div class="h3 fw-light text-center">
        <i class="bi bi-battery-full"></i>
        {{ energy }}<span *ngIf="bonusEnergy">+{{ bonusEnergy }}</span>
    </div>

    <div class="h3 fw-light text-center">
        <i class="bi bi-thermometer"></i>
        {{ heat }}<span *ngIf="bonusHeat">+{{ bonusHeat }}</span>
    </div>
</app-card>