<div class="container">
    <div class="sticky-top bg-dark pb-3" style="z-index: 1300;">
        <div class="row">
            <div class="col">
                <form class="form-horizontal" [formGroup]="filterForm">
                    <div class="row">
                        <div class="col">
                            <ng-container *ngIf="filterForm.get('search') as search">
                                <div class="input-group position-relative d-inline-flex align-items-center">
                                    <input type="text" class="form-control bg-secondary-subtle" placeholder="Start typing to filter..." formControlName="search">
                                    <i class="bi bi-x-lg position-absolute"
                                        *ngIf="search.value"
                                        (click)="clearFilter()"
                                        style="right: 10px; cursor: pointer; z-index: 100;">
                                    </i>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" *ngFor="let tl of techLevels">
        <div class="col" *ngIf="filteredComponentList[tl] && filteredComponentList[tl].length > 0">
            <div class="sticky-top bg-dark" style="top: 54px">
                <div class="row">
                    <div class="col text-toggle" data-bs-toggle="collapse" [attr.href]="'#techLevel' + tl" role="button" aria-expanded="false" [attr.aria-controls]="'techLevel' + tl">
                        <div class="h5">
                            <span>Tech Level {{ tl }} ({{ filteredComponentList[tl].length }})</span>
                            <div class="float-end">
                                <i class="bi bi-chevron-up text-expanded"></i>
                                <i class="bi bi-chevron-down text-collapsed"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>

            <div class="collapse" [attr.id]="'techLevel' + tl">
                <ng-container *ngFor="let component of filteredComponentList[tl]">
                    <div class="row">
                        <div class="col-7 my-auto"><span class="fw-bold">{{ component.name }}</span></div>
                        <div class="col-4 my-auto">
                            <span class="me-1" [class.text-danger]="component.slots > availableSlots"><i class="bi bi-triangle-fill"></i> {{ component.slots }}</span>
                            <span class="me-1"><i class="bi bi-gear-fill"></i> {{ component.salvage_value }}</span>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-sm btn-outline-success bg-success-subtle float-end" (click)="selectComponent(component.id)" [disabled]="component.slots > availableSlots">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <app-ep-tag [epCost]="component.ep_cost" *ngIf="component.ep_cost"></app-ep-tag>
                            <app-trait-list [traits]="component.traits" *ngIf="component.traits"></app-trait-list>
                            <app-action-list [actions]="component.actions" *ngIf="component.actions"></app-action-list>
                        </div>
                    </div>
                    <hr>
                </ng-container>
            </div>
        </div>
    </div>
</div>


